body {
    font-family: "RO Sans", Trebuchet MS, Lucida Grande, Lucida Sans, Arial, sans-serif;
    color: #336699;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    min-width: 420px;
}

a:link, a:visited {color: #336699}

#header {
    height: 130px;
    margin: 0px;
}

    #header img {
        height: 110px;
        position: absolute;
        left: 47%;
        right: auto;
        display: block;
        padding: none;
        margin: 0px;
        overflow: hidden;
    }
    
#navBar {
    padding: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0p;
    width: 96%;
    background-color: #336699;
}

    #navBar .wrapper .breadCrumbNav {
        float:left;
        font-weight: bold;
    }

    #navBar .wrapper .breadCrumbNav a:link {
        text-decoration: none;
        color: rgb(247, 245, 245);
    }

    #navBar .wrapper .breadCrumbNav a:visited {
        text-decoration: none;
        color: rgb(247, 245, 245);
    }

/* for mobilephone size screens - only for navBar */
@media only screen and (max-width:599px) {
    
    .menu .menubutton {
        color: white;
        padding: 16px
        font-size: 16px;
        border: none;
    }

    .menu {
        position: relative;
        display: inline-block;
        float: right;
    }

    .mainNav {
        display: none;
        position: relative;
        background-color: #336699;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .mainNav a {
        color: white;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        padding: 12px 150px 12px 150px;
        text-decoration: none;
        display: block;
    }

    .mainNav a:hover {background-color: #336699;}

    #navBar .wrapper .menu:hover .mainNav {
        display: block;
        position: absolute;
        right: 0px;
        top: 71px;

    }

    #navBar .wrapper .menu:hover .menubutton {background-color: white;}
}

    #search-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
    }

    #search-keyword {
        width: calc(100% - 100px);
        border: solid 1px white;
    }

    #search-submit {
        width: 100px;
    }

#main {
    margin-top: 0%;
    padding: 0px;
    padding-bottom: 20px;
    width: 100%;
}

    .topTaskNavigation {position: relative;}

    .topTaskNavigation img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .topTaskNavigation ul {
        color: #336699;
        font-weight: bold;
        background-color: azure;
        position: absolute;
        list-style-type: none;
        min-width: 300px;
        max-width: 600px;
        padding: 15px;
        margin: 15px;
        top: 6%;
        text-align: left;
    }

    .topTaskNavigation ul li a:link {
        text-decoration: none;
    }

    .topTaskNavigation ul li a:hover {color: rgb(6, 34, 109);}

    .topTaskNavigation ul li a:visited {}

    .topTaskNavigation ul li:before {content: ">   ";}

    #main .editorialNavigation {background-color: rgb(247, 245, 245);}
    
    .editorialNavigation .fourItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .editorialNavigation .fourItems .navItem {
        width: 100%;
        margin: 20px;
        margin-top: 3px;
        margin-bottom: 1px;
        padding: 0px;
        overflow: hidden;
        text-align: left;
    }

    .fourItems .navItem a:link {
        text-decoration: none;
    }

    .fourItems .navItem a:hover {
        text-decoration: underline;
    }

    .fourItems .navItem a:visited {
        text-decoration: none;
    }

    .fourItems .navItem a .content p {color: black;}

    #main .wrapper .fullWidthSection .brickRow {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    #main .wrapper .fullWidthSection .brickRow .brick {
        width: 100%;
        margin: 20px;
    }

    #main .wrapper .fullWidthSection .brickRow .brick a {
        width: 100%;
        text-align: justify;
    }

    #main .wrapper .fullWidthSection .brickRow .brick a img { width: 100%;}

    #main .wrapper .fullWidthSection .brickRow .brick a:link {text-decoration: none;}

    #main .wrapper .fullWidthSection .brickRow .brick a:hover {opacity: 0.8;}

    #main .wrapper .fullWidthSection .brickRow .brick a p {color: black;}

    .newsandmeer h2:before {
        content: "";
        background-color: rgb(216, 214, 214);
        position: relative;
        width: calc(100% - 40px);
        height: 1.5px;
        left: 20px;
        right: 20px;
        display: block;
        margin-bottom: 20px;
    }  
    
    .brickRow.nieuws a:link {
        margin: 0px;
        text-decoration: none;
        font-weight: bold;
    }

#footer {
        width: 100%;
        display: flex;
        flex-direction: column;
}

    #footer .wrapper {
        background-color: #336699;
        color: white;
        padding: 40px 5% 40px 5%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }

    #footer .wrapper .payoff {
        max-width: 400px;
    }

    #footer .wrapper .two-columns {
        width: 500px;
        display: flex;
        justify-content: flex-end;
    }

    #footer .wrapper .two-columns .column {
        margin: 0px 10px 0px 10px;
    }

    #footer .wrapper .two-columns .column ul li {
        list-style-type: none;
        text-align: left;
        margin: 6px;
        font-size: 20px;
    }

    #footer .wrapper .two-columns .column ul li a:link {
        color: white;
        text-decoration: none;
    }
    
    #footer .languages {
/*         width: calc(100% - 40px); */
        padding: 20px;
    }

    #footer .languages ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer .languages ul li {
        font-weight: bold;
        border: 1.5px solid #336699;
        margin: 5px;
        padding: 8px;
        list-style-type: none;
    }

    #footer .languages ul li a:link {
        text-decoration: none;
    }

    #footer .languages .selected {
        border: none;
        color: black;
        font-weight: bold;
    }

    /* for desktop size screens */
@media only screen and (min-width:1025px) {
    #navBar .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #navBar .wrapper .breadCrumbNav {
        float: none;
        width: 50px;
    }

    #navBar .wrapper .menu .menubutton {display: none;}

    #navBar .wrapper .menu {
        margin-left: 100px;
        width: calc(100% - 150px);
    }

    #navBar .wrapper .menu nav {
        float:right;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    #navBar .wrapper .menu nav a:link {
        display: block;
        color: white;
        text-decoration: none;
        margin: 8px;
        font-weight: bold;
    }
    
    #search-form {
        display: flex;
        flex-direction: row;
        width: 30%;
        position: absolute;
        top: calc(6% + 80px);
        left: 67%;
        z-index: 1;
    }

    #search-keyword {
        width: calc(100% - 100px);
    }

    #search-submit {
        width: 100px;
    }

    .editorialNavigation .fourItems .navItem {
        width: calc(23% - 20px);
        margin: 10px;
    }

    #main .wrapper .fullWidthSection .brickRow .brick {
        width: calc(100%/3 - 40px);
        margin: 20px;
    }
}

/* for tablet size screens */
@media only screen and (min-width:600px) and (max-width:1024px) {
    #navBar .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #navBar .wrapper .breadCrumbNav {
        float: none;
        width: 50px;
    }

    #navBar .wrapper .menu .menubutton {display: none;}

    #navBar .wrapper .menu {
        margin-left: 100px;
        width: calc(100% - 150px);
    }

    #navBar .wrapper .menu nav {
        float:right;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    #navBar .wrapper .menu nav a:link {
        display: block;
        color: white;
        text-decoration: none;
        margin: 8px;
        font-weight: bold;
    }
    
    #search-form {
        display: flex;
        flex-direction: row;
        width: 30%;
        position: absolute;
        top: calc(3% + 120px);
        left: 67%;
        z-index: 1;
    }

    #search-keyword {
        width: calc(100% - 100px);
    }

    #search-submit {
        width: 100px;
    }

    .topTaskNavigation ul {
        width: 55%;
    }
    
    .editorialNavigation .fourItems .navItem {
        width: calc(45% - 20px);
        margin: 10px;
    }

    #main .wrapper .fullWidthSection .brickRow .brick {
        width: calc(50% - 40px);
        margin: 20px;
    }
}
